@font-face {
  font-family: "iconfont"; /* Project id 3791506 */
  src: url('iconfont.ttf?t=1711892447736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "\e9e4";
}

.icon-chat-video:before {
  content: "\e73b";
}

.icon-chat-voice:before {
  content: "\e633";
}

.icon-ok:before {
  content: "\e6ac";
}

.icon-receipt:before {
  content: "\e61a";
}

.icon-biaoqing:before {
  content: "\e60c";
}

.icon-youyinpin:before {
  content: "\e649";
}

.icon-audio:before {
  content: "\e800";
}

.icon-group_fill:before {
  content: "\e7f4";
}

.icon-yinpin:before {
  content: "\e68a";
}

.icon-emoji:before {
  content: "\e6f6";
}

.icon-voiceprint:before {
  content: "\e953";
}

.icon-phone-reject:before {
  content: "\e605";
}

.icon-phone-accept:before {
  content: "\e8be";
}

