@font-face {
  font-family: "iconfont"; /* Project id 4272106 */
  src: url('iconfont.ttf?t=1750317465456') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dnd:before {
  content: "\e693";
}

.icon-privacy-protocol:before {
  content: "\e761";
}

.icon-create-group-2:before {
  content: "\e616";
}

.icon-create-group:before {
  content: "\e650";
}

.icon-qrcode:before {
  content: "\e642";
}

.icon-add-friend:before {
  content: "\e64f";
}

.icon-scan:before {
  content: "\e8b5";
}

.icon-remove:before {
  content: "\e603";
}

.icon-doc:before {
  content: "\e61c";
}

.icon-image:before {
  content: "\e7f7";
}

.icon-top-message:before {
  content: "\e6ff";
}

.icon-setting:before {
  content: "\e851";
}

.icon-phone:before {
  content: "\e692";
}

.icon-email:before {
  content: "\e611";
}

.icon-username:before {
  content: "\e60f";
}

.icon-chat-muted:before {
  content: "\e634";
}

.icon-chat-unmuted:before {
  content: "\ec44";
}

.icon-un-register:before {
  content: "\e656";
}

.icon-modify-pwd:before {
  content: "\e63c";
}

.icon-user-protocol:before {
  content: "\e61a";
}

.icon-film:before {
  content: "\e66b";
}

.icon-chat:before {
  content: "\e624";
}

.icon-delete:before {
  content: "\e605";
}

.icon-receipt:before {
  content: "\e601";
}

.icon-pause:before {
  content: "\e669";
}

.icon-play:before {
  content: "\e620";
}

.icon-voice-play:before {
  content: "\e675";
}

.icon-chat-video:before {
  content: "\e73b";
}

.icon-chat-voice:before {
  content: "\e633";
}

.icon-video:before {
  content: "\e685";
}

.icon-ok:before {
  content: "\e65a";
}

.icon-at:before {
  content: "\e7de";
}

.icon-man:before {
  content: "\e615";
}

.icon-girl:before {
  content: "\e602";
}

.icon-file:before {
  content: "\e671";
}

.icon-add:before {
  content: "\e66c";
}

.icon-warning-circle-fill:before {
  content: "\e848";
}

.icon-loading:before {
  content: "\e93d";
}

.icon-camera:before {
  content: "\e600";
}

.icon-folder:before {
  content: "\e6a0";
}

.icon-microphone:before {
  content: "\e63b";
}

.icon-icon_emoji:before {
  content: "\e619";
}

.icon-call:before {
  content: "\e610";
}

.icon-keyboard:before {
  content: "\e679";
}

.icon-voice-circle:before {
  content: "\e67f";
}

.icon-picture:before {
  content: "\e653";
}

.icon-search:before {
  content: "\e648";
}

