@font-face {
  font-family: "iconfont"; /* Project id 4272106 */
  src: url('iconfont.ttf?t=1711870080646') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e669";
}

.icon-play:before {
  content: "\e620";
}

.icon-voice-play:before {
  content: "\e675";
}

.icon-chat-video:before {
  content: "\e73b";
}

.icon-chat-voice:before {
  content: "\e633";
}

.icon-video:before {
  content: "\e685";
}

.icon-receipt:before {
  content: "\e61a";
}

.icon-ok:before {
  content: "\e65a";
}

.icon-at:before {
  content: "\e7de";
}

.icon-man:before {
  content: "\e615";
}

.icon-girl:before {
  content: "\e602";
}

.icon-file:before {
  content: "\e671";
}

.icon-add:before {
  content: "\e66c";
}

.icon-warning-circle-fill:before {
  content: "\e848";
}

.icon-loading:before {
  content: "\e93d";
}

.icon-camera:before {
  content: "\e600";
}

.icon-folder:before {
  content: "\e6a0";
}

.icon-microphone:before {
  content: "\e63b";
}

.icon-icon_emoji:before {
  content: "\e619";
}

.icon-call:before {
  content: "\e610";
}

.icon-keyboard:before {
  content: "\e679";
}

.icon-voice-circle:before {
  content: "\e67f";
}

.icon-picture:before {
  content: "\e653";
}

.icon-search:before {
  content: "\e648";
}

